<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">

    <title>Sofive Soccer Center</title>
    <script type="text/javascript">
        (function(c, a) {
            if (!a.__SV) {
                var b = window;
                try {
                    var d, m, j, k = b.location,
                        f = k.hash;
                    d = function(a, b) {
                        return (m = a.match(RegExp(b + "=([^&]*)"))) ? m[1] : null
                    };
                    f && d(f, "state") && (j = JSON.parse(decodeURIComponent(d(f, "state"))), "mpeditor" === j.action && (b.sessionStorage.setItem("_mpcehash", f), history.replaceState(j.desiredHash || "", c.title, k.pathname + k.search)))
                } catch (n) {}
                var l, h;
                window.mixpanel = a;
                a._i = [];
                a.init = function(b, d, g) {
                    function c(b, i) {
                        var a = i.split(".");
                        2 == a.length && (b = b[a[0]], i = a[1]);
                        b[i] = function() {
                            b.push([i].concat(Array.prototype.slice.call(arguments,
                                0)))
                        }
                    }
                    var e = a;
                    "undefined" !== typeof g ? e = a[g] = [] : g = "mixpanel";
                    e.people = e.people || [];
                    e.toString = function(b) {
                        var a = "mixpanel";
                        "mixpanel" !== g && (a += "." + g);
                        b || (a += " (stub)");
                        return a
                    };
                    e.people.toString = function() {
                        return e.toString(1) + ".people (stub)"
                    };
                    l = "disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
                    for (h = 0; h < l.length; h++) c(e, l[h]);
                    var f = "set set_once union unset remove delete".split(" ");
                    e.get_group = function() {
                        function a(c) {
                            b[c] = function() {
                                call2_args = arguments;
                                call2 = [c].concat(Array.prototype.slice.call(call2_args, 0));
                                e.push([d, call2])
                            }
                        }
                        for (var b = {}, d = ["get_group"].concat(Array.prototype.slice.call(arguments, 0)), c = 0; c < f.length; c++) a(f[c]);
                        return b
                    };
                    a._i.push([b, d, g])
                };
                a.__SV = 1.2;
                b = c.createElement("script");
                b.type = "text/javascript";
                b.async = !0;
                b.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ?
                    MIXPANEL_CUSTOM_LIB_URL : "file:" === c.location.protocol && "//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js" : "//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js";
                d = c.getElementsByTagName("script")[0];
                d.parentNode.insertBefore(b, d)
            }
        })(document, window.mixpanel || []);
        mixpanel.init("226e138fe032af7e887dfb169abd8ba3");
    </script>

    <script>
        ! function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '976102449200043');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=976102449200043&ev=PageView&noscript=1" /></noscript>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56051013-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-56051013-1');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale = 1, minimum-scale = 1, maximum-scale = 1, user-scalable = no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" href="https://sofive.com/wp-content/uploads/2018/04/cropped-sigle-192x192.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="https://sofive.com/wp-content/uploads/2018/04/cropped-sigle-192x192.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="https://sofive.com/wp-content/uploads/2018/04/cropped-sigle-192x192.png" />
    <meta name="apple-mobile-web-app-title" content="Sofive">
    <style type="text/css">
        body {
            -webkit-user-select: none;
            -webkit-tap-highlight-color: transparent;
            -webkit-touch-callout: none;
        }
    </style>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="icon" href="https://sofive.com/wp-content/uploads/2018/04/cropped-sigle-32x32.png" sizes="32x32" />
    <link rel="icon" href="https://sofive.com/wp-content/uploads/2018/04/cropped-sigle-192x192.png" sizes="192x192" />

    <link href="css/plugins/dataTables/datatables.min.css" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">

</head>

<body class="fixed-sidebar">

    <div id="wrapper">

        <div>
            <sofive-left-menu />
        </div>

        <div id="page-wrapper" class="gray-bg">

            <div>
                <sofive-header />
            </div>


            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>Pending registrations</h5>
                        </div>
                        <div class="ibox-content">

                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Center</th>
                                            <th>Type</th>
                                            <th>Product name</th>
                                            <th>Team Name</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Paid</th>
                                            <th>Validate</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="registration in registrations" class="gradeX">
                                            <td>{{registration.registration.date}}</td>
                                            <td>{{registration.center}}</td>
                                            <td>{{registration.product.type}}</td>
                                            <td>{{registration.product.name}}</td>
                                            <td>{{registration.name}}</td>
                                            <td>{{registration.registration.customer}}</td>
                                            <td>{{registration.registration.email}}</td>
                                            <td>{{registration.registration.phone}}</td>
                                            <td>${{registration.product.price/100}}</td>
                                            <td><input name="validated" type="checkbox" class="i-checks" :value="registration.registration.id" v-model="reg_done"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="row">
                                <div class="col-sm-12"><button type="button" class="btn btn-block btn-outline btn-primary" v-on:click="validate">Validate</button></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>




            <div>
                <sofive-footer />
            </div>
        </div>
    </div>


    <!-- Mainly scripts -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="js/inspinia.js"></script>

    <script src="js/vue.js"></script>

    <script type="text/javascript" src="js/vue-resource.js"></script>
    <script type="text/javascript" src="js/moment.js"></script>

    <script type="text/javascript" src="js/navigation.js"></script>
    <script type="text/javascript" src="js/header.js"></script>
    <script type="text/javascript" src="js/footer.js"></script>

    <script src="js/plugins/dataTables/datatables.min.js"></script>
    <script src="js/plugins/dataTables/dataTables.bootstrap4.min.js"></script>
    <script src="js/plugins/iCheck/icheck.min.js"></script>

    <script type="text/javascript">
        var app = new Vue({
            el: '#wrapper',
            data: {
                info: "",
                registrations: [],
                reg_done: []
            },
            mounted: function() {
                let isAdmin = this.getAdminCookie()
                if (!isAdmin) {
                    window.location = "http://localhost/login.html?url=http://localhost/admin.html"
                }
                this.getRegistrations()
            },
            methods: {
                getAdminCookie: function() {
                    var nameEQ = "admin=";
                    var ca = document.cookie.split(';');
                    for (var i = 0; i < ca.length; i++) {
                        var c = ca[i];
                        while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
                    }
                    return null;
                },
                getRegistrations: function() {
                    this.registrations = []
                    this.$http.get("http://localhost:8080/product/registrations")
                        .then((resp) => {
                            this.registrations = resp.body.map(r => {
                                let name = r.registration.team
                                if (name.indexOf("(") == (-1) && name !== "Free Agent") {
                                    name = name + " (NEW)"
                                }
                                let center = r.product.center.replace("Sofive ", "").split(",")[0]
                                return {
                                    ...r,
                                    name,
                                    center
                                }
                            });
                            console.log(this.registrations)
                            this.$nextTick(function() {
                                $('.dataTables-example').DataTable({
                                    pageLength: 25,
                                    responsive: true,
                                    dom: '<"html5buttons"B>lTfgitp',
                                    buttons: [{
                                            extend: 'copy'
                                        },
                                        {
                                            extend: 'csv'
                                        },
                                        {
                                            extend: 'excel',
                                            title: 'ExampleFile'
                                        },
                                        {
                                            extend: 'pdf',
                                            title: 'ExampleFile'
                                        },

                                        {
                                            extend: 'print',
                                            customize: function(win) {
                                                $(win.document.body).addClass('white-bg');
                                                $(win.document.body).css('font-size', '10px');

                                                $(win.document.body).find('table')
                                                    .addClass('compact')
                                                    .css('font-size', 'inherit');
                                            }
                                        }
                                    ]
                                });
                                $('.i-checks').iCheck({
                                    checkboxClass: 'icheckbox_square-green',
                                    radioClass: 'iradio_square-green',
                                });
                            })
                        })
                        .catch((err) => {
                            console.log(err.body.errors)
                        })
                },
                validate: function() {
                    const validated = [...document.querySelectorAll('input[name="validated"]:checked')].map(e => (e.value))
                    this.$http.post("http://localhost:8080/product/registrations/validate", {
                            ids: validated
                        })
                        .then((resp) => {
                            window.location.reload(false)
                        })
                        .catch((err) => {
                            console.log(err)
                        })
                }
            }
        })
    </script>

</body>

</html>