<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">

    <title>Sofive Soccer Center</title>
<!-- start Mixpanel --><script type="text/javascript">(function(c,a){if(!a.__SV){var b=window;try{var d,m,j,k=b.location,f=k.hash;d=function(a,b){return(m=a.match(RegExp(b+"=([^&]*)")))?m[1]:null};f&&d(f,"state")&&(j=JSON.parse(decodeURIComponent(d(f,"state"))),"mpeditor"===j.action&&(b.sessionStorage.setItem("_mpcehash",f),history.replaceState(j.desiredHash||"",c.title,k.pathname+k.search)))}catch(n){}var l,h;window.mixpanel=a;a._i=[];a.init=function(b,d,g){function c(b,i){var a=i.split(".");2==a.length&&(b=b[a[0]],i=a[1]);b[i]=function(){b.push([i].concat(Array.prototype.slice.call(arguments,
0)))}}var e=a;"undefined"!==typeof g?e=a[g]=[]:g="mixpanel";e.people=e.people||[];e.toString=function(b){var a="mixpanel";"mixpanel"!==g&&(a+="."+g);b||(a+=" (stub)");return a};e.people.toString=function(){return e.toString(1)+".people (stub)"};l="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
for(h=0;h<l.length;h++)c(e,l[h]);var f="set set_once union unset remove delete".split(" ");e.get_group=function(){function a(c){b[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));e.push([d,call2])}}for(var b={},d=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<f.length;c++)a(f[c]);return b};a._i.push([b,d,g])};a.__SV=1.2;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?
MIXPANEL_CUSTOM_LIB_URL:"file:"===c.location.protocol&&"//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js";d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d)}})(document,window.mixpanel||[]);
mixpanel.init("cd042e17e8e2d45f238524b07e2187b2");</script><!-- end Mixpanel -->

    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=976102449200043&ev=PageView&noscript=1" /></noscript>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56051013-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-56051013-1');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale = 1, minimum-scale = 1, maximum-scale = 1, user-scalable = no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" href="https://sofive.com/wp-content/uploads/2018/04/cropped-sigle-192x192.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="https://sofive.com/wp-content/uploads/2018/04/cropped-sigle-192x192.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="https://sofive.com/wp-content/uploads/2018/04/cropped-sigle-192x192.png" />
    <meta name="apple-mobile-web-app-title" content="Sofive">
    <style type="text/css">
        body {
            -webkit-user-select: none;
            -webkit-tap-highlight-color: transparent;
            -webkit-touch-callout: none;
        }
    </style>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="icon" href="https://sofive.com/wp-content/uploads/2018/04/cropped-sigle-32x32.png" sizes="32x32" />
    <link rel="icon" href="https://sofive.com/wp-content/uploads/2018/04/cropped-sigle-192x192.png" sizes="192x192" />
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/plugins/select2/select2.min.css" rel="stylesheet">
    <link href="css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <style type="text/css">
        @media only screen and (max-width: 768px) {
            .hide-if-mob {
                display: none;
            }

            .hide-if-not-mob {
                display: block
            }
        }

        @media only screen and (min-width: 768px) {
            .hide-if-mob {
                display: block;
            }

            .hide-if-not-mob {
                display: none
            }
        }
    </style>

    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KHK4JK2');</script>

</head>

<body class="fixed-sidebar">

    <div id="wrapper">

        <div>
            <sofive-left-menu />
        </div>

        <div id="page-wrapper" class="gray-bg">

            <div>
                <sofive-header />
            </div>


            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-sm-4">
                    <h2>Chatbot settings</h2>
                </div>
            </div>

            <div class="wrapper wrapper-content animated fadeInRight" style="padding-bottom: 5px">

                <br><br><br>

                <div class="ibox ">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-6 text-center">
                                <div>
                                    <h1>Setup ({{i}}/2)</h1>
                                    <hr>
                                    <h3 style="font-weight: normal; padding-left: 5%; padding-right: 5%">{{instructions}}</h3>
                                </div>
                                <div class="messenger_plugin" style="display: none; padding-top: 50px;">
                                    <div style="padding-left: 18%">
                                        <div class="fb-send-to-messenger" messenger_app_id="402678167007969" page_id="254076015141321" data-ref="test_ref" color="white" cta_text="SUBSCRIBE_IN_MESSENGER" size="large">
                                        </div>
                                    </div>
                                </div>
                                <p class="text-center" v-if="show_check">
                                    <img src="https://www.stickpng.com/assets/images/5aa78e207603fc558cffbf19.png" style="height: 20vh">
                                </p>
                                <div class="notification_settings">
                                    <div class="text-center">
                                        <br />
                                        <div class="row" style="margin: 0">
                                            <div class="col-sm-12 text-center">
                                                <p>Choose team settings :</p>
                                                <div v-if="loading.product">
                                                    <div>
                                                        <div class="sk-spinner sk-spinner-wave">
                                                            <div class="sk-rect1"></div>
                                                            <div class="sk-rect2"></div>
                                                            <div class="sk-rect3"></div>
                                                            <div class="sk-rect4"></div>
                                                            <div class="sk-rect5"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <select class="select_product form-control" style="width: 60%">
                                                    <option></option>
                                                    <option v-for="product in products" :value="JSON.stringify(product)">{{product.name}}</option>
                                                </select>
                                            </div>
                                        </div><br />
                                        <div class="row" style="margin: 0">
                                            <div class="col-sm-12 text-center">
                                                <div v-if="loading.season">
                                                    <div>
                                                        <div class="sk-spinner sk-spinner-wave">
                                                            <div class="sk-rect1"></div>
                                                            <div class="sk-rect2"></div>
                                                            <div class="sk-rect3"></div>
                                                            <div class="sk-rect4"></div>
                                                            <div class="sk-rect5"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <select class="select_season form-control" style="width: 60%">
                                                    <option></option>
                                                    <option v-for="season in seasons" :value="JSON.stringify(season)">{{season.display_name}}</option>
                                                </select>
                                            </div>
                                        </div><br />
                                        <div class="row" style="margin: 0">
                                            <div class="col-sm-12 text-center">
                                                <div v-if="loading.league">
                                                    <div>
                                                        <div class="sk-spinner sk-spinner-wave">
                                                            <div class="sk-rect1"></div>
                                                            <div class="sk-rect2"></div>
                                                            <div class="sk-rect3"></div>
                                                            <div class="sk-rect4"></div>
                                                            <div class="sk-rect5"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <select class="select_league form-control" style="width: 60%">
                                                    <option></option>
                                                    <option v-for="league in filtered_leagues" :value="JSON.stringify(league)">{{league.name}}</option>
                                                </select>
                                            </div>
                                        </div><br />
                                        <div class="row" style="margin: 0">
                                            <div class="col-sm-12 text-center">
                                                <div v-if="loading.team">
                                                    <div>
                                                        <div class="sk-spinner sk-spinner-wave">
                                                            <div class="sk-rect1"></div>
                                                            <div class="sk-rect2"></div>
                                                            <div class="sk-rect3"></div>
                                                            <div class="sk-rect4"></div>
                                                            <div class="sk-rect5"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <select class="select_team form-control" style="width: 60%">
                                                    <option></option>
                                                    <option v-for="team in teams" :value="JSON.stringify(team)">{{team.name}}</option>
                                                </select>
                                            </div>
                                        </div><br />
<!--                                         <div class="row" style="margin: 0">
                                            <div class="col-sm-12 text-center">
                                                <label><input type="checkbox" checked class="i-checks"> Receive special offers </label>
                                            </div>
                                        </div><br /> -->
                                        <div class="row">
                                            <div class="col s12 text-center">
                                                <button class="btn btn-large btn-primary text-center" v-on:click="next"><strong>Next</strong>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div><br />
                            </div>
                            <div class="col-sm-6 text-center b-r">
                                <div>
                                    <h1>Our chatbot</h1>
                                    <hr>
                                    <h3 style="font-weight: normal; padding-left: 5%; padding-right: 5%">Sign in with facebook to receive match results, video highlights and league standings right in your messenger inbox !</h3>
                                </div>
                                <p class="text-center hide-if-mob">
                                    <img src="/img/fbpage.png" style="height: 50vh">
                                </p>
                                <p class="text-center hide-if-not-mob">
                                    <img src="/img/chatbot_mobile.png" style="height: 50vh">
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div>
                <sofive-footer />
            </div>
        </div>
    </div>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KHK4JK2"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) —>

    
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '976102449200043');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=976102449200043&ev=PageView&noscript=1"
    /></noscript>
    


    <!-- Mainly scripts -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="js/plugins/iCheck/icheck.min.js"></script>
    <script src="js/plugins/select2/select2.full.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="js/inspinia.js"></script>

    <script src="js/vue.js"></script>

    <script type="text/javascript" src="js/vue-resource.js"></script>
    <script type="text/javascript" src="js/moment.js"></script>
    <script src="js/plugins/toastr/toastr.min.js"></script>

    <script type="text/javascript" src="js/navigation.js"></script>
    <script type="text/javascript" src="js/header.js"></script>
    <script type="text/javascript" src="js/footer.js"></script>

    <script type="text/javascript">
        var app = new Vue({
            el: '#wrapper',
            data: {
                products: [],
                seasons: [],
                leagues: [],
                teams: [],
                loading: {
                    products: false,
                    season: false,
                    league: false,
                    team: false,
                    messenger: false
                },
                selected: {
                    facility_id: "1",
                    product: {},
                    league: 0,
                    season_id: 0,
                    team: 0
                },
                i: 1,
                instructions: "Start by selecting the team you wish to follow.",
                show_check: false
            },
            mounted: function() {

                var center = this.getCookie("center");
                if (center) {
                    this.selected.facility_id = center
                }

                const self = this;

                this.getProducts();

                window.fbAsyncInit = function() {
                    FB.init({
                        appId: '402678167007969',
                        autoLogAppEvents: true,
                        xfbml: true,
                        version: 'v4.0'
                    });
                    FB.Event.subscribe('send_to_messenger', function(e) {
                        if (e.event === "opt_in") {
                            self.instructions = "All good! Now check that you received your first messenger message !"
                            self.show_check = true
                            document.querySelector('.messenger_plugin').style.display = "none"
                        }
                    });
                };

                (function(d, s, id) { // Load the SDK asynchronously
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "https://connect.facebook.net/en_US/sdk.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));

                $(".select_product").select2({
                    placeholder: "Select program..."
                });
                $(".select_season").select2({
                    placeholder: "Select season..."
                });
                $(".select_league").select2({
                    placeholder: "Select league..."
                });
                $(".select_team").select2({
                    placeholder: "Select team..."
                });
                $('.select_product').on('select2:select', function(e) {
                    var doc = JSON.parse(e.target.value);
                    self.selected.product = doc;
                    self.getSeasons();
                });
                $('.select_season').on('select2:select', function(e) {
                    var doc = JSON.parse(e.target.value),
                        facility_id = doc.facility_id,
                        season_id = doc.id;
                    self.selected.season_id = season_id;
                });
                $('.select_league').on('select2:select', function(e) {
                    var doc = JSON.parse(e.target.value);
                    self.selected.league = doc;
                    self.getTeams();
                });
                $('.select_team').on('select2:select', function(e) {
                    var doc = JSON.parse(e.target.value);
                    self.selected.team = doc;
                });

                // $('.i-checks').iCheck({
                //     checkboxClass: 'icheckbox_square-green',
                //     radioClass: 'iradio_square-green'
                // });

            },
            computed: {
                filtered_leagues: function filtered_leagues() {
                    if (this.selected.season_id === 0) {
                        return this.leagues;
                    }

                    var season_id = this.selected.season_id.toString();
                    return this.leagues.filter(function(l) {
                        return l.season_id === season_id;
                    });
                }
            },
            methods: {
                getProducts: function getProducts() {
                    const self = this;
                    this.products = [];
                    this.loading.product = true;
                    this.$http.get(this.backend+"/program/").then(function(resp) {
                        self.products = resp.body.filter(function(p) {
                            return p.name !== "Youth Classes" && p.name !== "Youth Tournament";
                        });
                        self.loading.product = false;
                    }).catch(function(err) {
                        console.log(err.body.errors);
                    });
                },
                getSeasons: function getSeasons(facility_id) {
                    const self = this;
                    this.loading.season = true;
                    var body = {
                        "facility_id": this.selected.facility_id,
                        "program_id": this.selected.product.id,
                        "date": moment().subtract(14, 'd').format("YYYY-MM-DD")
                    };
                    var url = this.backend+"/program/seasons";
                    this.$http.post(url, body).then(function(resp) {
                        self.seasons = resp.body.map(function(s) {
                            let display_name = s.name
                            if (s.name.indexOf("-") !== (-1)) {
                                if (s.name.indexOf("-") !== (-1)) {
                                    display_name = s.name.split("-")[1].trim().split("(")[0]
                                } else {
                                    display_name = s.name.split("-")[1].trim()
                                }
                            }
                            s.display_name = display_name
                            return s
                        });
                        self.loading.season = false;
                        var p = [];
                        resp.body.forEach(function(s) {
                            p.push(self.getLeagues(s.id));
                        });
                        self.loading.league = true;
                        Promise.all(p).then(function(leagues) {
                            self.loading.league = false;
                            self.leagues = self.flatten(leagues);
                        });
                    }).catch(function(err) {
                        console.log(err);
                    });
                },
                getLeagues: function getLeagues(season_id) {
                    const self = this;
                    this.loading.league = true;
                    this.leagues = [];
                    var url = this.backend+"/facility/" + this.selected.facility_id + "/" + season_id + "/leagues";
                    return new Promise(function(yes, no) {
                        self.$http.get(url).then(function(resp) {
                            return yes(resp.body);
                        }).catch(no);
                    });
                },
                getTeams: function getProducts() {
                    const self = this;
                    this.teams = [];
                    this.loading.team = true;
                    this.$http.get(this.backend+"/team/league/" + this.selected.league.id.toString())
                        .then(function(resp) {
                            self.teams = resp.body
                            self.loading.team = false;
                        }).catch(function(err) {
                            console.log(err.body.errors);
                        });
                },
                flatten: function flatten(arr) {
                    var self = this;
                    return arr.reduce(function(flat, toFlatten) {
                        return flat.concat(Array.isArray(toFlatten) ? self.flatten(toFlatten) : toFlatten);
                    }, []);
                },
                next: function next() {
                    const center_id = this.selected.facility_id,
                        program = this.selected.product.name,
                        league_id = this.selected.league.id,
                        team_id = this.selected.team.id,
                        details = this.selected.league.name + " - " + this.selected.team.name,
                        marketing_notif = document.querySelector('.i-checks').checked ? "1" : "0";

                    const ref = center_id + "_" + program + "_" + league_id + "_" + team_id + "_" + marketing_notif

                    this.i = 2
                    this.instructions = "Now connect to the chatbot to receive videos, results and standings in real time !"

                    document.querySelector(".fb-send-to-messenger").setAttribute("data-ref", ref.replace(/ /g, '+'))

                    FB.XFBML.parse()

                    document.querySelector('.messenger_plugin').style.display = "block"
                    document.querySelector('.notification_settings').style.display = "none"
                },
                save: function save() {
                    const d = {
                            league_id: this.selected.league.id,
                            team_id: this.selected.team.id,
                            details: this.selected.league.name + " - " + this.selected.team.name,
                            marketing_notif: true
                        },
                        self = this;
                    this.$http.post("https://app.scoreplay.io/fb/user/preference", d)
                        .then(function(resp) {
                            self.checkScoreplayUser()
                            toastr.info('Settings saved !', {
                                progressBar: true
                            });
                        }).catch(function(err) {
                            console.log(err.body.errors);
                        });
                },
                getCookie: function(name) {
                    var nameEQ = name + "=";
                    var ca = document.cookie.split(';');
                    for (var i = 0; i < ca.length; i++) {
                        var c = ca[i];
                        while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
                    }
                    return null;
                }
            }
        })
    </script>

</body>

</html>