<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">

    <title>Sofive Soccer Center</title>
    <script type="text/javascript">
        (function(c, a) {
            if (!a.__SV) {
                var b = window;
                try {
                    var d, m, j, k = b.location,
                        f = k.hash;
                    d = function(a, b) {
                        return (m = a.match(RegExp(b + "=([^&]*)"))) ? m[1] : null
                    };
                    f && d(f, "state") && (j = JSON.parse(decodeURIComponent(d(f, "state"))), "mpeditor" === j.action && (b.sessionStorage.setItem("_mpcehash", f), history.replaceState(j.desiredHash || "", c.title, k.pathname + k.search)))
                } catch (n) {}
                var l, h;
                window.mixpanel = a;
                a._i = [];
                a.init = function(b, d, g) {
                    function c(b, i) {
                        var a = i.split(".");
                        2 == a.length && (b = b[a[0]], i = a[1]);
                        b[i] = function() {
                            b.push([i].concat(Array.prototype.slice.call(arguments,
                                0)))
                        }
                    }
                    var e = a;
                    "undefined" !== typeof g ? e = a[g] = [] : g = "mixpanel";
                    e.people = e.people || [];
                    e.toString = function(b) {
                        var a = "mixpanel";
                        "mixpanel" !== g && (a += "." + g);
                        b || (a += " (stub)");
                        return a
                    };
                    e.people.toString = function() {
                        return e.toString(1) + ".people (stub)"
                    };
                    l = "disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
                    for (h = 0; h < l.length; h++) c(e, l[h]);
                    var f = "set set_once union unset remove delete".split(" ");
                    e.get_group = function() {
                        function a(c) {
                            b[c] = function() {
                                call2_args = arguments;
                                call2 = [c].concat(Array.prototype.slice.call(call2_args, 0));
                                e.push([d, call2])
                            }
                        }
                        for (var b = {}, d = ["get_group"].concat(Array.prototype.slice.call(arguments, 0)), c = 0; c < f.length; c++) a(f[c]);
                        return b
                    };
                    a._i.push([b, d, g])
                };
                a.__SV = 1.2;
                b = c.createElement("script");
                b.type = "text/javascript";
                b.async = !0;
                b.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ?
                    MIXPANEL_CUSTOM_LIB_URL : "file:" === c.location.protocol && "//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js" : "//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js";
                d = c.getElementsByTagName("script")[0];
                d.parentNode.insertBefore(b, d)
            }
        })(document, window.mixpanel || []);
        mixpanel.init("226e138fe032af7e887dfb169abd8ba3");
    </script>

    <script>
        ! function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '976102449200043');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=976102449200043&ev=PageView&noscript=1" /></noscript>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56051013-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-56051013-1');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale = 1, minimum-scale = 1, maximum-scale = 1, user-scalable = no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" href="https://sofive.com/wp-content/uploads/2018/04/cropped-sigle-192x192.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="https://sofive.com/wp-content/uploads/2018/04/cropped-sigle-192x192.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="https://sofive.com/wp-content/uploads/2018/04/cropped-sigle-192x192.png" />
    <meta name="apple-mobile-web-app-title" content="Sofive">
    <style type="text/css">
        body {
            -webkit-user-select: none;
            -webkit-tap-highlight-color: transparent;
            -webkit-touch-callout: none;
        }
    </style>

    <link href="/css/plugins/select2/select2.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.css" rel="stylesheet">

    <link href="/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="icon" href="https://sofive.com/wp-content/uploads/2018/04/cropped-sigle-32x32.png" sizes="32x32" />
    <link rel="icon" href="https://sofive.com/wp-content/uploads/2018/04/cropped-sigle-192x192.png" sizes="192x192" />
    <!-- Toastr style -->
    <link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
</head>

<body class="fixed-sidebar">

    <div id="wrapper">

        <div class="modal inmodal fade" id="more_info_modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Select your current team</h4>
                    </div>
                    <div class="modal-body">
                        <div v-if="team_search_loading">
                            <div>
                                <div class="sk-spinner sk-spinner-wave">
                                    <div class="sk-rect1"></div>
                                    <div class="sk-rect2"></div>
                                    <div class="sk-rect3"></div>
                                    <div class="sk-rect4"></div>
                                    <div class="sk-rect5"></div>
                                </div>
                            </div>
                        </div>
                        <div class="vote-item" v-for="team in teams" v-if="teams.length">
                            <div class="row" v-on:click="selectTeam(team)">
                                <div class="col-md-10">
                                    <a href="#" class="vote-title">
                                        {{team.name}}
                                    </a>
                                    <div class="vote-info">
                                        <i class="fa fa-clock-o"></i> <a href="#">Season: <b>{{team.season.name}}</b></a><br />
                                        <i class="fa fa-user"></i> <a href="#">League: <b>{{team.league.name}}</b></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vote-item" v-if="(teams.length===0) && (!team_search_loading)">
                            <div class="col-md-12">
                                <p class="vote-title">
                                    Sorry, team not found. Please select <i>Register new team</i> option.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align: left">
                        <div>
                            <button class="btn btn-white" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <sofive-left-menu />
        </div>

        <div id="page-wrapper" class="gray-bg">

            <div>
                <sofive-header />
            </div>

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Online registration</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="book_a_field.html">Selection</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <strong>Confirmation</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">
                </div>
            </div>


            <div class="wrapper wrapper-content animated fadeInRight" style="padding-bottom: 5px">

                <div class="row">

                    <div class="col-md-8">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>Cart Summary</h5>
                            </div>
                            <div class="ibox-content">
                                <div v-if="data.early_bird" class="product-imitation" style="padding: 6px 0; color: white; background-color: #03793E">
                                    {{data.early_bird}} !
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-body" style="text-align: center">
                                        <h3 style="color: #03793E"><i class="fa fa-futbol-o"></i> {{data.name}}</h3>
                                        <h3 style="color: #03793E"><i class="fa fa-clock-o"></i> Start: {{data.start}} | End: {{data.end}}</h3>
                                        <h3 style="color: #03793E"><i class="fa fa-map-marker"></i> {{data.season.name}}</h3>
                                    </div>
                                </div>
                                <div v-if="!open">
                                    <h2 class="font-bold">
                                        Sorry, event is now full.
                                    </h2>
                                </div>
                                <div v-else>
                                    <span>
                                        Total
                                    </span>
                                    <h2 class="font-bold">
                                        ${{product.price/100}} <small v-if="product.tax">(+{{product.tax}} tax)</small>
                                    </h2>
                                    <hr>
                                    <span class="text">
                                        <form role="form" class="form" id="loginForm">
                                            <div class="form-group row"><label class="col-sm-2 col-form-label">Name</label>
                                                <div class="col-sm-10"><input type="text" placeholder="Enter name" class="form-control" v-model="customer" required=""></div>
                                            </div>
                                            <div class="form-group row"><label class="col-sm-2 col-form-label">Email</label>
                                                <div class="col-sm-10"><input type="email" placeholder="Enter email" class="form-control" v-model="email" required=""></div>
                                            </div>
                                            <div class="form-group row"><label class="col-sm-2 col-form-label">Phone</label>
                                                <div class="col-sm-10"><input type="text" placeholder="Enter phone" class="form-control" v-model="phone" required=""></div>
                                            </div>
                                            <div class="form-group row" v-if="is_kid">
                                                <label class="col-sm-2 col-form-label">Child</label>
                                                <div class="col-sm-10"><input type="text" placeholder="Enter child name" class="form-control" v-model="kid"></div>
                                            </div>
                                            <div class="form-group row" v-if="is_youth_league">
                                                <label class="col-sm-2 col-form-label">Role</label>
                                                <div class="col-sm-10">
                                                    <select class="form-control" v-model="yl.role">
                                                        <option v-for="role in roles" :value="role">{{role}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row" v-if="is_youth_league">
                                                <label class="col-sm-2 col-form-label">Coach</label>
                                                <div class="col-sm-10"><input type="text" placeholder="Enter coach name" class="form-control" v-model="yl.coach"></div>
                                            </div>
                                            <div class="form-group row" v-if="is_youth_league">
                                                <label class="col-sm-2 col-form-label">Club</label>
                                                <div class="col-sm-10"><input type="text" placeholder="Enter club name" class="form-control" v-model="yl.club"></div>
                                            </div>
                                            <div class="form-group row" v-if="team"><label class="col-sm-2 col-form-label">Team name</label>
                                                <div class="col-sm-10" style="margin-top: 1%">
                                                    <div class="i-checks" style="margin-bottom: 1%"><label> <input name="a" checked type="radio" value="existing"> <i></i>Register existing team and roster</label></div>
                                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Team search</label>
                                                        <div class="col-sm-9">
                                                            <div class="input-group"><input type="text" placeholder="Search team" class="form-control" v-on:keyup="search" v-model="team_search"><span class="input-group-append"> <button v-on:click="searchTeam()" type="button" class="btn btn-primary">Search
                                                                    </button> </span></div>
                                                        </div>
                                                    </div>

                                                    <div class="i-checks" style="margin-bottom: 1%"><label> <input name="a" type="radio" value="new"> <i></i> Register new team</label></div>
                                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Team name</label>
                                                        <div class="col-sm-9"><input type="text" placeholder="Enter team name" class="form-control" v-model="name"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group row" v-if="team"><label class="col-sm-2 col-form-label">Preference<br />
                                                </label>

                                                <div class="col-sm-10">
                                                    <div class="i-checks"><label> <input name="b" checked type="radio" value="full"> <i></i>Pay full price</label></div>
                                                    <div class="i-checks" v-if="(data.product_type !== 'Adult Tournaments') && deposit_ok"><label> <input name="b" type="radio" value="deposit"> <i></i> Pay a deposit (${{deposit.full_price/100}}) </label></div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Checkout</button>
                                        </form>
                                    </span>

                                </div>

                            </div>
                        </div>

                        <div id="error-message"></div>

                    </div>

                    <div class="col-md-4">
                        <div v-if="data.facility_id === 1">
                            <div class="ibox-content no-padding border-left-right">
                                <img alt="image" class="img-fluid" src="/img/sofive/mdl.jpg">
                            </div>
                        </div>
                        <div v-if="data.facility_id === 2">
                            <div class="ibox-content no-padding border-left-right">
                                <img alt="image" class="img-fluid" src="/img/sofive/ekp.jpg">
                            </div>
                        </div>
                        <div v-if="data.facility_id === 3">
                            <div class="ibox-content no-padding border-left-right">
                                <img alt="image" class="img-fluid" src="/img/sofive/brk.jpg">
                            </div>
                        </div>
                        <div v-if="data.facility_id === 4">
                            <div class="ibox-content no-padding border-left-right">
                                <img alt="image" class="img-fluid" src="/img/sofive/rok.jpg">
                            </div>
                        </div>
                        <div v-if="data.facility_id === 5">
                            <div class="ibox-content no-padding border-left-right">
                                <img alt="image" class="img-fluid" src="/img/sofive/col.jpg">
                            </div>
                        </div>
                        <div class="ibox" style="text-align: center">
                            <div class="ibox-content text-center">
                                <div v-if="data.facility_id === 1">
                                    <sofive-mdl-info />
                                </div>
                                <div v-if="data.facility_id === 2">
                                    <sofive-ekp-info />
                                </div>
                                <div v-if="data.facility_id === 3">
                                    <sofive-brk-info />
                                </div>
                                <div v-if="data.facility_id === 4">
                                    <sofive-rok-info />
                                </div>
                                <div v-if="data.facility_id === 5">
                                    <sofive-col-info />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <sofive-footer />
        </div>

    </div>

    <!-- Mainly scripts -->
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/js/inspinia.js"></script>

    <script src="/js/plugins/select2/select2.full.min.js"></script>

    <script src="/js/vue.js"></script>

    <script type="text/javascript" src="/js/vue-resource.js"></script>
    <script type="text/javascript" src="/js/moment.js"></script>
    <script src="/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/js/he.js"></script>

    <script type="text/javascript" src="/js/navigation.js"></script>
    <script type="text/javascript" src="/js/header.js"></script>
    <script type="text/javascript" src="/js/footer.js"></script>

    <script type="text/javascript" src="/js/info-mdl.js"></script>
    <script type="text/javascript" src="/js/info-brk.js"></script>
    <script type="text/javascript" src="/js/info-col.js"></script>
    <script type="text/javascript" src="/js/info-rok.js"></script>
    <script type="text/javascript" src="/js/info-ekp.js"></script>
    <!-- iCheck -->
    <script src="/js/plugins/iCheck/icheck.min.js"></script>
    <script src="/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="/js/plugins/toastr/toastr.min.js"></script>

    <script src="https://js.stripe.com/v3/"></script>
    <script src="/js/plugins/typehead/bootstrap3-typeahead.min.js"></script>

    <script type="text/javascript">
        let stripe = Stripe(`pk_live_u3cyg4FEiEES4YUFKHeziPdY00kEYW2kt7`); //pk_test_1AfVoOISnSBi3YL546sR6wVO00z2t7grwj

        var app = new Vue({
            el: '#wrapper',
            data: {
                data: {
                    season: {}
                },
                name: "",
                customer: "",
                email: "",
                phone: "",
                kid: "",
                roles: ["Coach", "Team Manager", "Club", "Leadership", "Parent"],
                yl: {
                    role: "",
                    coach: "",
                    club: ""
                },
                team: false,
                selected: {
                    center: "1"
                },
                product: {},
                deposit: {},
                teams: [],
                team_search: "",
                team_search_loading: false,
                deposit_ok: true,
                open: true
            },
            computed: {
                is_kid: function is_kid() {
                    return this.data.season.name && this.data.season.name.indexOf('Youth Classes') > -1;
                },
                is_youth_league: function is_youth_league() {
                    return this.data.season.name && this.data.season.name.indexOf('Youth League') > -1;
                }
            },
            mounted: function mounted() {
                var params = this.findGetParameter(),
                    parsed = JSON.parse(atob(params.sel));
                this.data = parsed;

                this.checkOpen()

                if (parsed.reg_type === "team") {
                    this.team = true;
                }

                console.log("Parsed", parsed);
                var center = this.getCenterCookie(),
                    self = this;

                if (center) {
                    this.selected.center = center;
                }

                this.getRegistration();
                this.getDeposit();
                $(document).ready(function() {
                    $('.i-checks').iCheck({
                        checkboxClass: 'icheckbox_square-green',
                        radioClass: 'iradio_square-green'
                    });
                    $('#loginForm').on('submit', function(ev) {
                        self.stripeRedirect();
                        return false;
                    });
                });
            },
            methods: {
                findGetParameter: function findGetParameter() {
                    var queryDict = {};
                    decodeURI(location.search).substr(1).split("&").forEach(function(item) {
                        queryDict[item.split("=")[0]] = item.split("=")[1];
                    });
                    return queryDict;
                },
                checkOpen: function checkOpen() {
                    const self = this;
                    this.$http.post(this.backend+"/program/open", {
                        season_id: self.data.season_id.toString()
                    }).then(function(resp) {
                        self.open = resp.body
                    }).catch(function(err) {
                        console.log(err);
                    });
                },
                pay: function() {
                    const self = this;
                    let paid = this.price;
                    if (document.querySelector('input[name="a"]:checked').value === "half") {
                        paid = this.price / 2;
                    }
                    const d = {
                        customer_name: this.name,
                        customer_email: this.email,
                        amount: paid,
                        facility_id: this.data.facility_id,
                        field_id: this.data.id,
                        start: this.data.start,
                        duration: parseInt(this.data.duration)
                    };
                    console.log(d);
                    this.$http.post(this.backend+"/event/book", d)
                    .then(resp => {
                    	console.log(resp)
                    	self.stripeRedirect();
                    })
                    .catch(function(err) {
                        console.log(err);
                    });
                },
                getBody: function getBody(deposit_bool) {
                    var payment = "Team Fee";
                    var paid = this.data.price;
                    var deposit = "No";

                    if (this.data.reg_type !== "team") {
                        payment = "Individual";
                        paid = 100;
                    }

                    if (deposit_bool) {
                        paid = 195;
                        deposit = "Yes";
                    }

                    var season = "Summer";

                    if (this.data.season.name.indexOf("Fall") !== -1) {
                        season = "Fall";
                    }

                    if (this.data.season.name.indexOf("Spring") !== -1) {
                        season = "Spring";
                    }

                    if (this.data.season.name.indexOf("Winter 1") !== -1) {
                        season = "Winter 1";
                    }

                    if (this.data.season.name.indexOf("Winter 2") !== -1) {
                        season = "Winter 2";
                    }

                    var early_bird = "No";

                    if (this.data.early_bird && (payment !== "Individual")) {
                        early_bird = "Yes";
                    }

                    var team = this.name;

                    if (document.querySelector('input[name="a"]:checked') && document.querySelector('input[name="a"]:checked').value === "existing") {
                        team = this.team_search;
                    }

                    if (!this.team) {
                        team = "Free Agent";
                    }

                    return {
                        "dash_id": this.data.dash_id,
                        "product_type": this.data.product_type,
                        "early_bird": early_bird,
                        "center": this.data.center,
                        "payment": payment,
                        "deposit": deposit,
                        "price": this.data.price,
                        "name": this.data.name,
                        "season": season,
                        "date": moment().unix(),
                        "team": team,
                        "customer": this.customer,
                        "email": this.email,
                        "phone": this.phone,
                        "paid": paid,
                        "details": JSON.stringify({
                        	...this.yl,
                        	league: this.data.name,
                            kid: this.kid,
                        })
                    };
                },
                getRegistration: function getRegistration() {
                    const self = this,
                    	d = this.getBody(false);
                    this.$http.post(this.backend+"/product/registration/get", d)
                    .then(function(resp) {
                        console.log(resp);
                        self.product = resp.body.product;
                        var p = self.product.price;
                        self.product.full_price = p;

                        if (d.center === "Sofive Rockville, MD") {
                            self.product.price = Math.round(p / 1.1 * 100) / 100;
                            self.product["tax"] = "10%";
                        }

                        if (d.center === "Sofive Columbia, MD") {
                            self.product.price = Math.round(p / 1.05 * 100) / 100;
                            self.product["tax"] = "5%";
                        }
                        console.log("Got price", p);
                    }).catch(function(err) {
                        console.log(err);
                    });
                },
                getDeposit: function getDeposit() {
                    const self = this,
                    	d = this.getBody(true)
                    this.$http.post(this.backend+"/product/registration/get", {
                        ...d,
                        early_bird: "No"
                    }).then(function(resp) {
                        console.log(resp);
                        self.deposit = resp.body.product;
                        var p = self.deposit.price;
                        self.deposit.full_price = p;

                        if (d.center === "Sofive Rockville, MD") {
                            self.deposit.price = Math.round(p / 1.1 * 100) / 100;
                            self.deposit["tax"] = "10%";
                        }

                        if (d.center === "Sofive Columbia, MD") {
                            self.deposit.price = Math.round(p / 1.05 * 100) / 100;
                            self.deposit["tax"] = "5%";
                        }

                        console.log("Got price", p);
                    }).catch(function(err) {
                        console.log(err);
                        self.deposit_ok = false;
                    });
                },
                stripeRedirect: function stripeRedirect() {
                    if (document.querySelector('input[name="a"]:checked') && document.querySelector('input[name="a"]:checked').value === "existing") {
                        if (this.team_search === "") {
                            toastr.error('Missing team name', 'Please enter a name for your team !', {
                                progressBar: true
                            });
                            return;
                        }

                        if (this.team_search.indexOf("(") === -1 || this.team_search.indexOf(")") === -1) {
                            toastr.error('Missing team name', 'Please search for your team !', {
                                progressBar: true
                            });
                            return;
                        }
                    }

                    if (document.querySelector('input[name="a"]:checked') && document.querySelector('input[name="a"]:checked').value === "new") {
                        if (this.name === "") {
                            toastr.error('Missing team name', 'Please enter a new team name !', {
                                progressBar: true
                            });
                            return;
                        }
                    }

                    var self = this;
                    var deposit = false,
                        sku = self.product.sku;

                    if (document.querySelector('input[name="b"]:checked') && document.querySelector('input[name="b"]:checked').value === "deposit") {
                        deposit = true;
                        sku = self.deposit.sku;
                    }

                    var d = this.getBody(deposit);
                    if (deposit) {
                        d.early_bird = "No"
                    }

                    // Pre add the registration
                    this.$http.post(this.backend+"/product/registration", d)
                    .then(function(resp) {
                        console.log("Pre add", resp);
                        const id = resp.body;

                        window.location = "/checkout.html?registration_id="+id.toString()+"&sku="+sku


                    }).catch(function(err) {
                        console.log(err);
                    });

                },
                getCenterCookie: function getCenterCookie() {
                    var nameEQ = "center=";
                    var ca = document.cookie.split(';');

                    for (var i = 0; i < ca.length; i++) {
                        var c = ca[i];

                        while (c.charAt(0) == ' ') {
                            c = c.substring(1, c.length);
                        }

                        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
                    }

                    return null;
                },
                selectTeam: function selectTeam(team) {
                    this.team_search = team.name + " (" + team.id + ")";
                    $('#more_info_modal').modal('hide');
                },
                search: function search(ele) {
                    if (ele.key === 'Enter') {
                        this.searchTeam();
                    }
                },
                searchTeam: function searchTeam() {
                    var _this4 = this;

                    $('#more_info_modal').modal({
                        keyboard: false
                    });
                    this.team_search_loading = true;
                    this.$http.post(this.backend+"/team/", {
                        name: encodeURI(this.team_search),
                        facility_id: this.selected.center
                    }).then(function(resp) {
                        _this4.teams = resp.body;
                        _this4.team_search_loading = false;
                    }).catch(function(err) {
                        console.log(err);
                    });
                }
            }
        });
    </script>

</body>

</html>